
body{
    max-width:document.body.clientWidth - 16px;
    width:expression(this.width > document.body.clientWidth - 16px? (document.body.clientWidth － 16px):this.width);
    font-family:sans-serif;
    /**font-size:14px;*/
    word-wrap:break-word;
    /**color: #FF0000*/
    
    /** 网页中长按链接不会弹出ActionSheet */
    -webkit-touch-callout: none;
    
    /** 旋转后webview不自动调整字体大小 */
    -webkit-text-size-adjust: none;
    
}

h3{
    font-size:18px;
    font-family:sans-serif;
    margin-bottom:-10px;
}

#date{
    margin-top:8px;
    margin-bottom:10px;
    margin-left:0px;
    font-size:10px;
    font-family:sans-serif;
    color: #4c4c4c;
}

.titleDiv{
    max-width:document.body.clientWidth - 16px;
    width:expression(this.width > document.body.clientWidth - 16px? (document.body.clientWidth － 16px):this.width);
    margin-top:14px;
    margin-left:0px;
    font-size:20px;
    font-weight:bold;
    font-family:sans-serif;
    text-transform:capitalize;
    text-overflow:ellipsis;
    overflow:hidden;
    color: #0f6461;
}

img
{
    max-width:304px;
    width:expression(this.width > document.body.clientWidth - 16px? (document.body.clientWidth - 16px):this.width);
}

/*.dashedLine*/
/*{*/
/*    margin-top:6px;*/
/*    border-top:1px dashed #cccccc;*/
/*    height: 1px;*/
/*    overflow:hidden;*/
/*}*/

